body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  background-color: #333;
  color: white;
  padding: 10px;
}

/* Hide navbar on screens smaller than 640px */
@media (max-width: 640px) {
  .social-icons {
    display:block
  }
}

.font-style{
  font-style: italic;
  font-family:Playfair Display;
}

.text-style{
  font-family: Playfair Display;
}
.font-stylee{
  font-style: italic;
  font-family:Playfair Display;
}

.texxt-menu{
  font-family:Playfair Display;
}

.stanza-text{
  font-family: DM Sans;
}

.nav-hover{
border-radius: 999px;

}
.nav-hover:hover{
  background-color:#C8CDB9 ;
}

.text-styyle{
  font-family: DM Sans;
}